{% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">{% endblock %}
{% block title %} CryTech {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-6 left"></div>
            <div class="col-6 right">
                <div class="content">
                    <h1>Would you like to join to expirienced new technology engineers now?</h1>
                    <br>
                    <button type="button" class="btn btn-outline-primary">Create an Account</button>
                    <button type="button" class="btn btn-outline-primary">Log in</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}