* {
    box-sizing: border-box;
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 500;
}

nav {
    padding: .2rem 1rem !important;
}

.container {
    padding-top: 30px !important;
    padding-right: 10% !important;
    padding-left: 10% !important;
    padding-bottom: 10px !important;
}

.asteriskField {
    color: red;
}